!<!DOCTYPE html>
{%if msg%}
    <script>
        window.alert('{{msg}}');
    </script>
    {% endif %}

<html>
    <head>
       
    </head>
    <body>
        <form action="/login/" method="POST">
            {% csrf_token %}
            
        
            
          
            <div class="container">
              
          
              <label for="psw"><b>Password</b></label>
              <input type="number" placeholder="Enter Password" name="psw" required>
          
              <button type="submit">Login</button>
              <label>
            
            </div>
          
            
            </div>
          </form>
    </body>
</html>